<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string>iTunesFS version 1.2.2, Copyright 2007-2011 Mulle kybernetiK.</string>
	<key>CFBundleIconFile</key>
	<string>iTunesFS</string>
	<key>CFBundleIdentifier</key>
	<string>com.mulle-kybernetik.znek.iTunesFS</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>iTunesFS</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2.2</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSUIElement</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright 2007-2011 Mulle kybernetiK.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSUserDefaults</key>
	<dict>
		<key>AlbumsTrackFormat</key>
		<string>%(name).%(ext.lowercaseString)</string>
		<key>AutoOpenInFinder</key>
		<true/>
		<key>FUSEMountName</key>
		<string>iTunesFS</string>
		<key>FUSEMountPath</key>
		<string>/Volumes/iTunesFS</string>
		<key>FUSEObjectFileSystemClass</key>
		<string>iTunesFileSystem</string>
		<key>NoIPods</key>
		<false/>
		<key>PlaylistsTrackFormat</key>
		<string>%(playlistNumber#000) %(name).%(ext.lowercaseString)</string>
		<key>PlaylistsTrackFormat[folders]</key>
		<string>%(artist) / %(album) / %(trackNumber#00) %(name).%(ext.lowercaseString)</string>
		<key>ShowFormatFiles</key>
		<true/>
		<key>SymbolicLinks</key>
		<false/>
		<key>UseCategories</key>
		<true/>
		<key>iPodLibraryDebugEnabled</key>
		<false/>
		<key>iTunesFSDebugPathLookup</key>
		<false/>
		<key>iTunesFileSystemDebugEnabled</key>
		<false/>
	</dict>
</dict>
</plist>
