{
	NSHumanReadableCopyright = "Copyright 2007-2015 Mulle kybernetiK.";
	NSUserDefaults = {
		FUSEMountName			  		= "iTunesFS";
		FUSEMountPath             		= "/tmp/iTunesFS";
		FUSEObjectFileSystemClass 		= "iTunesFileSystem";
		UseCategories             		= YES;
		AlbumsTrackFormat         		= "%(name).%(ext)";
		PlaylistsTrackFormat      	    = "%(playlistNumber#000) %(name).%(ext)";
        "PlaylistsTrackFormat[folders]" = "%(artist) / %(album) / %(trackNumber#00) %(name).%(ext.lowercaseString)";
        M3UTrackFormat                 = "%(name)";
		ShowFormatFiles           		= YES;
	};
}
