// release.xcconfig

#include "./base.xcconfig"

ONLY_ACTIVE_ARCH = NO

GCC_OPTIMIZATION_LEVEL = 3
GCC_GENERATE_DEBUGGING_SYMBOLS = NO

DEBUGGING_SYMBOLS = NO
ZERO_LINK = NO

TEMP_DIR = $(SYMROOT)/$(PROJECT_NAME).build/$(TARGET_NAME).build
SYMROOT = /tmp/MulleDeploymentProducts
DSTROOT = /
DEPLOYMENT_LOCATION = YES
DEPLOYMENT_POSTPROCESSING = YES
INSTALL_PATH = $(HOME)/Applications
INSTALL_MODE_FLAG = go-w,a+rX,u+w
COPY_PHASE_STRIP = YES
